<header>
    <div class="menu">
        <a routerLink="/" class="brand">Social</a>

        <nav [class]="{show:open}">
            <ul>
                <li>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>

                <li>
                    <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ul>
        </nav>
    </div>
    <button class="open-menu" (click)="open = !open">Menu</button>
</header>